.toolBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px;
  width: 100%;
}

.button-navigation button+button {
  margin-left: 1em;
}

.mat-raised-button {
  background-color: #ffd740;
}

.mat-button-wrapper {
  color: black
}

.mat-toolbar {
  background-color: cornflowerblue;
}
