<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{dayData.Date | date}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <img mat-card-image [src]="imgUrl" alt="Photo of a weather">
    <h3>min:{{dayData.Temperature.Minimum.Value| temperatureConverterPipe}}</h3>
    <h3>max:{{dayData.Temperature.Maximum.Value| temperatureConverterPipe}}</h3>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Add to Favorites</button>
  </mat-card-actions>
</mat-card>
